openapi: 3.1.0
info:
  title: GVTEWAY API
  version: 1.0.0
  description: >-
    Consumer marketplace API powering event discovery, ticketing, memberships,
    and checkout flows outlined in the GVTEWAY roadmap.
servers:
  - url: https://api.ghxstship.com/gvteway/v1
    description: Production
  - url: https://staging.api.ghxstship.com/gvteway/v1
    description: Staging
security:
  - bearerAuth: []
tags:
  - name: Events
    description: Event creation, publishing, and discovery
  - name: Tickets
    description: Ticket types, inventory, and purchase flows
  - name: Checkout
    description: Stripe-backed checkout orchestration
  - name: Bundles
    description: Multi-product packages spanning tickets, merch, parking, and add-ons
  - name: Memberships
    description: Loyalty programs, subscriptions, and benefits
paths:
  /events:
    get:
      tags: [Events]
      summary: Search events
      operationId: searchEvents
      parameters:
        - in: query
          name: query
          schema:
            type: string
        - in: query
          name: city
          schema:
            type: string
        - in: query
          name: genre
          schema:
            type: string
        - in: query
          name: timeframe
          schema:
            type: string
            enum: [today, weekend, week, month]
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: Event listings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventList'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Initial discovery endpoint with search filters.
      x-deprecation:
        deprecated: false
    post:
      tags: [Events]
      summary: Create event
      operationId: createEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventInput'
      responses:
        '201':
          description: Event created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Base event creation for GVTEWAY catalog.
      x-deprecation:
        deprecated: false
  /events/{eventId}:
    get:
      tags: [Events]
      summary: Retrieve event
      operationId: getEvent
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: Event detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '404':
          $ref: '#/components/responses/NotFound'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Added ability to fetch event details by ID.
      x-deprecation:
        deprecated: false
    patch:
      tags: [Events]
      summary: Update event
      operationId: updateEvent
      parameters:
        - name: eventId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TraceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventUpdate'
      responses:
        '200':
          description: Event updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Enables partial updates for event records.
      x-deprecation:
        deprecated: false
  /tickets:
    post:
      tags: [Tickets]
      summary: Create ticket type
      operationId: createTicketType
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketTypeInput'
      responses:
        '201':
          description: Ticket type created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketType'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Ticket creation aligned with inventory model.
      x-deprecation:
        deprecated: false
    get:
      tags: [Tickets]
      summary: List ticket types
      operationId: listTicketTypes
      parameters:
        - in: query
          name: eventId
          schema:
            type: string
            format: uuid
            nullable: false
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: Ticket type listing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketTypeList'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Filtering ticket types by event.
      x-deprecation:
        deprecated: false
  /checkout/session:
    post:
      tags: [Checkout]
      summary: Create checkout session
      description: Initiates Stripe Checkout using Supabase Edge functions; enforces anti-bot inventory holds.
      operationId: createCheckoutSession
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutInput'
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSession'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Stripe Checkout orchestration for ticket purchases.
      x-deprecation:
        deprecated: false
  /checkout/session/{sessionId}:
    get:
      tags: [Checkout]
      summary: Get checkout session
      operationId: getCheckoutSession
      parameters:
        - name: sessionId
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: Session detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSession'
        '404':
          $ref: '#/components/responses/NotFound'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Retrieve checkout session status/inventory hold state.
      x-deprecation:
        deprecated: false
  /bundles:
    get:
      tags: [Bundles]
      summary: List bundles
      description: Returns active bundles, optionally filtered by event or status, for merchandising and upsell flows.
      operationId: listBundles
      parameters:
        - in: query
          name: eventId
          schema:
            type: string
            format: uuid
        - in: query
          name: status
          schema:
            type: string
            enum: [draft, active, retired]
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: Bundle collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BundleList'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Initial bundle listing endpoint with filters.
      x-deprecation:
        deprecated: false
    post:
      tags: [Bundles]
      summary: Create bundle
      operationId: createBundle
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleInput'
      responses:
        '201':
          description: Bundle created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Introduced multi-product bundles for upsell.
      x-deprecation:
        deprecated: false
  /bundles/{bundleId}:
    get:
      tags: [Bundles]
      summary: Retrieve bundle
      operationId: getBundle
      parameters:
        - in: path
          name: bundleId
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: Bundle detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '404':
          $ref: '#/components/responses/NotFound'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Fetch bundle metadata by ID.
      x-deprecation:
        deprecated: false
    patch:
      tags: [Bundles]
      summary: Update bundle
      operationId: updateBundle
      parameters:
        - in: path
          name: bundleId
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TraceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BundleUpdate'
      responses:
        '200':
          description: Bundle updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Allows editing bundle pricing, benefits, or contents.
      x-deprecation:
        deprecated: false
  /memberships:
    get:
      tags: [Memberships]
      summary: List memberships
      description: Retrieves membership tiers and benefits for storefront + account management surfaces.
      operationId: listMemberships
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [draft, active, retired]
        - in: query
          name: tier
          schema:
            type: string
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: Membership collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipList'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Added listing for GVTEWAY membership tiers.
      x-deprecation:
        deprecated: false
    post:
      tags: [Memberships]
      summary: Create membership tier
      operationId: createMembership
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipInput'
      responses:
        '201':
          description: Membership created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Enables authoring of loyalty/membership tiers.
      x-deprecation:
        deprecated: false
  /memberships/{membershipId}:
    get:
      tags: [Memberships]
      summary: Retrieve membership tier
      operationId: getMembership
      parameters:
        - in: path
          name: membershipId
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TraceId'
      responses:
        '200':
          description: Membership detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
        '404':
          $ref: '#/components/responses/NotFound'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Retrieve membership tier configuration.
      x-deprecation:
        deprecated: false
    patch:
      tags: [Memberships]
      summary: Update membership tier
      operationId: updateMembership
      parameters:
        - in: path
          name: membershipId
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/TraceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MembershipUpdate'
      responses:
        '200':
          description: Membership updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Membership'
        '400':
          $ref: '#/components/responses/ValidationError'
        '404':
          $ref: '#/components/responses/NotFound'
      x-changelog:
        - version: 1.0.0
          date: 2025-11-22
          description: Supports lifecycle changes for membership tiers.
      x-deprecation:
        deprecated: false
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    TraceId:
      in: header
      name: x-trace-id
      required: false
      schema:
        type: string
  responses:
    Unauthorized:
      description: Authentication required.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    Event:
      type: object
      required: [id, name, status, startsAt, venue]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, published, on_sale, sold_out, canceled]
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        venue:
          type: string
        city:
          type: string
        tags:
          type: array
          items:
            type: string
        heroImageUrl:
          type: string
    EventInput:
      type: object
      required: [name, startsAt, endsAt, venue]
      properties:
        name:
          type: string
        description:
          type: string
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        venue:
          type: string
        city:
          type: string
        tags:
          type: array
          items:
            type: string
    EventUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
        startsAt:
          type: string
          format: date-time
        endsAt:
          type: string
          format: date-time
        venue:
          type: string
        tags:
          type: array
          items:
            type: string
    EventList:
      type: object
      required: [data, pageInfo]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Event'
        pageInfo:
          type: object
          required: [hasNextPage]
          properties:
            hasNextPage:
              type: boolean
            endCursor:
              type: string
    TicketType:
      type: object
      required: [id, eventId, name, price, currency, inventory]
      properties:
        id:
          type: string
          format: uuid
        eventId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        price:
          type: number
        currency:
          type: string
        inventory:
          type: integer
        perks:
          type: array
          items:
            type: string
    TicketTypeInput:
      type: object
      required: [eventId, name, price, currency, inventory]
      properties:
        eventId:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        price:
          type: number
        currency:
          type: string
        inventory:
          type: integer
        perks:
          type: array
          items:
            type: string
    TicketTypeList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TicketType'
    CheckoutInput:
      type: object
      required: [eventId, lineItems, successUrl, cancelUrl]
      properties:
        eventId:
          type: string
          format: uuid
        lineItems:
          type: array
          minItems: 1
          items:
            type: object
            required: [ticketTypeId, quantity]
            properties:
              ticketTypeId:
                type: string
                format: uuid
              quantity:
                type: integer
                minimum: 1
        successUrl:
          type: string
          format: uri
        cancelUrl:
          type: string
          format: uri
        metadata:
          type: object
          additionalProperties:
            type: string
    CheckoutSession:
      type: object
      required: [id, stripeSessionId, status, checkoutUrl]
      properties:
        id:
          type: string
        stripeSessionId:
          type: string
        status:
          type: string
          enum: [pending, completed, expired]
        checkoutUrl:
          type: string
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    Bundle:
      type: object
      required: [id, name, status, price, currency, items]
      properties:
        id:
          type: string
          format: uuid
        eventId:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, retired]
        price:
          type: number
        currency:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/BundleItem'
        benefits:
          type: array
          items:
            type: string
        limits:
          type: object
          properties:
            perOrder:
              type: integer
            perCustomer:
              type: integer
        metadata:
          type: object
          additionalProperties:
            type: string
    BundleItem:
      type: object
      required: [type, referenceId, quantity]
      properties:
        type:
          type: string
          enum: [ticket, merch, parking, add_on]
        referenceId:
          type: string
        quantity:
          type: integer
          minimum: 1
        notes:
          type: string
    BundleInput:
      type: object
      required: [name, status, price, currency, items]
      properties:
        eventId:
          type: string
          format: uuid
          nullable: true
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, retired]
        price:
          type: number
        currency:
          type: string
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/BundleItem'
        benefits:
          type: array
          items:
            type: string
        limits:
          type: object
          properties:
            perOrder:
              type: integer
            perCustomer:
              type: integer
        metadata:
          type: object
          additionalProperties:
            type: string
    BundleUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, retired]
        price:
          type: number
        currency:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/BundleItem'
        benefits:
          type: array
          items:
            type: string
        limits:
          type: object
          properties:
            perOrder:
              type: integer
            perCustomer:
              type: integer
        metadata:
          type: object
          additionalProperties:
            type: string
    BundleList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Bundle'
    Membership:
      type: object
      required: [id, name, status, tier, billingInterval]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, retired]
        tier:
          type: string
        billingInterval:
          type: string
          enum: [monthly, quarterly, yearly]
        price:
          type: number
        currency:
          type: string
        perks:
          type: array
          items:
            type: string
        accessRules:
          type: object
          properties:
            earlyAccessMinutes:
              type: integer
            discountPercent:
              type: number
            guestLimit:
              type: integer
        metadata:
          type: object
          additionalProperties:
            type: string
    MembershipInput:
      type: object
      required: [name, status, tier, billingInterval, price, currency]
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, retired]
        tier:
          type: string
        billingInterval:
          type: string
          enum: [monthly, quarterly, yearly]
        price:
          type: number
        currency:
          type: string
        perks:
          type: array
          items:
            type: string
        accessRules:
          type: object
          properties:
            earlyAccessMinutes:
              type: integer
            discountPercent:
              type: number
            guestLimit:
              type: integer
        metadata:
          type: object
          additionalProperties:
            type: string
    MembershipUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [draft, active, retired]
        tier:
          type: string
        billingInterval:
          type: string
          enum: [monthly, quarterly, yearly]
        price:
          type: number
        currency:
          type: string
        perks:
          type: array
          items:
            type: string
        accessRules:
          type: object
          properties:
            earlyAccessMinutes:
              type: integer
            discountPercent:
              type: number
            guestLimit:
              type: integer
        metadata:
          type: object
          additionalProperties:
            type: string
    MembershipList:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Membership'
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: array
              items:
                type: string
